// Core Layout
// --------------------------
$app-sidebar-width: 130px;
$app-topbar-height: 60px;

.app,
.app-sidebar,
.app-main,
.app-main-wrap,
.app-content,
.app-content-sidebar {
  height: 100%;
}

.app {
  position: relative;
  overflow: hidden;
}

.app-sidebar {
  position: absolute;
  width: $app-sidebar-width;
  border-right: 1px solid $gray4;
}

.app-main {
  padding-top: $app-topbar-height;
}

.app-main-wrap {
  position: relative;
}

.app-topbar {
  position: absolute;
  width: 100%;
  height: $app-topbar-height;
  border-bottom: 1px solid $gray4;
}

.app-content {
  margin-left: $app-sidebar-width;
  overflow: auto;
}

.app-content-wrap {
  position: relative;
  height: 100%;
}

.app-content-sidebar {
  height: 1800px;
  background: $gray10;
  border-left: 1px solid $gray13;
}

.logo-link {
  display: block;
  img {
    display: inherit;
    padding: 14px 15px;
  }
}


// App Menu
// --------------------------
.app-menu {
  padding-top: 24px;

  .nav-list {
    a {
      color: $gray6;
      font-weight: 600;
      padding-top: 2px;
      padding-bottom: 2px;

      &.active {
        color: $blue;
      }
    }
  }
}

// Headings
// --------------------------
.section-heading {
  margin-top: 0;
  text-transform: uppercase;
}

// Examples
// --------------------------
$code-column-width: 50%;
$code-column-padding-top: 45px;
$code-column-padding-horizontal: 30px;

.examples {
  background: $gray10;
  margin-left: $code-column-width;
}

.example {
  position: relative;
  padding-top: $code-column-padding-top;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    .example-code {
      padding-bottom: 45px;
    }
  }
}

.example-section {
  position: relative;
  clear: left;
  margin-left: -100%;
  padding-top: $code-column-padding-top;
}

.example-description {
  position: relative;
  float: left;
  width: $code-column-width;
  padding: 0 $code-column-padding-horizontal;
}

.example-code {
  position: relative;
  width: $code-column-width;
  margin-left: $code-column-width;
  padding: 0 $code-column-padding-horizontal 0;
}

.popupview-example {
  position: relative;
  padding: 100px;
}

#popup-example-1 {
  top: 0;
  left: 0;
}

#popup-example-2 {
  top: 0;
  left: 110px;
}

#popup-example-3 {
  top: 0;
  left: 220px;
}

#popup-example-4 {
  top: 0;
  left: 330px;
}