%arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;

  &:before {
    content: "";
    display: block;
  }
}

@mixin arrow-up($arrow-width, $arrow-bg-color, $arrow-border-width, $arrow-border-color) {
  @extend %arrow;
  border-width: 0 $arrow-width $arrow-width $arrow-width;
  border-bottom-color: darken($arrow-border-color, 15%);

  &:before {
    @extend %arrow;
    border-width: 0 $arrow-width $arrow-width $arrow-width;
    border-bottom-color: $arrow-bg-color;
    top: $arrow-border-width;
    left: -$arrow-width;
  }
}

@mixin arrow-right($arrow-width, $arrow-bg-color, $arrow-border-width, $arrow-border-color) {
  @extend %arrow;
  border-width: $arrow-width 0 $arrow-width $arrow-width;
  border-left-color: darken($arrow-border-color, 15%);

  &:before {
    @extend %arrow;
    border-width: $arrow-width 0 $arrow-width $arrow-width;
    border-left-color: $arrow-bg-color;
    top: -$arrow-width;
    right: $arrow-border-width;
  }
}

@mixin arrow-down($arrow-width, $arrow-bg-color, $arrow-border-width, $arrow-border-color) {
  @extend %arrow;
  border-width: $arrow-width $arrow-width 0 $arrow-width;
  border-top-color: darken($arrow-border-color, 15%);

  &:before {
    @extend %arrow;
    border-width: $arrow-width $arrow-width 0 $arrow-width;
    border-top-color: $arrow-bg-color;
    bottom: $arrow-border-width;
    left: -$arrow-width;
  }
}

@mixin arrow-left($arrow-width, $arrow-bg-color, $arrow-border-width, $arrow-border-color) {
  @extend %arrow;
  border-width: $arrow-width $arrow-width $arrow-width 0;
  border-right-color: darken($arrow-border-color, 15%);

  &:before {
    @extend %arrow;
    border-width: $arrow-width $arrow-width $arrow-width 0;
    border-right-color: $arrow-bg-color;
    top: -$arrow-width;
    left: $arrow-border-width;
  }
}