.dropdown {
  background: $gray10;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;

  .nav-list {
    max-height: 200px;
    overflow: auto;

    & > li {
      border-top: 1px solid $gray9;

      & > a {
        color: $gray7;
        font-weight: 300;

        & > .subtext {
          float: right;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}