@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin placeholder($color: $input-color-placeholder) {
  &::-moz-placeholder { 
    color: $color;
    opacity: 1; 
  }
  &:-ms-input-placeholder { 
    color: $color; 
  }
  &::-webkit-input-placeholder { 
    color: $color; 
  }
}

@mixin abs-center-horizontal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin abs-center-vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

@mixin popup($width, $padding, $background-color, $border-width, $border-color, $border-radius, $arrow-size, $arrow-offset) {

  & > .content {
    width: $width;

    &.bottom { 
      padding-top: $arrow-size;
      & > .arrow {
        top: 0;
        @include arrow-up($arrow-size, $background-color, $border-width, $border-color);
      }
    }
    &.top { 
      padding-bottom: $arrow-size; 
      & > .arrow {
        bottom: 0;
        @include arrow-down($arrow-size, $background-color, $border-width, $border-color);
      }
    }
    &.left { 
      padding-right: $arrow-size; 
      & > .arrow {
        right: 0;
        @include arrow-right($arrow-size, $background-color, $border-width, $border-color);
      }
    }
    &.right { 
      padding-left: $arrow-size; 
      & > .arrow {
        left: 0;
        @include arrow-left($arrow-size, $background-color, $border-width, $border-color);
      }
    }

    &.bottom,
    &.top {
      & > .arrow { 
        &.center { @include abs-center-horizontal; }
        &.left { left: $arrow-offset; }
        &.right { right: $arrow-offset; }
      }
    }

    &.left,
    &.right {
      & > .arrow { 
        &.center { @include abs-center-vertical; }
        &.top { top: $arrow-offset; }
        &.bottom { bottom: $arrow-offset; }
      }
    }

    & > .wrap {
      padding: $padding;
      background: $background-color;
      border: $border-width solid $border-color;
      border-radius: $border-radius;
    }
  }
}