@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin placeholder($color: $input-color-placeholder) {
  &::-moz-placeholder { 
    color: $color;
    opacity: 1; 
  }
  &:-ms-input-placeholder { 
    color: $color; 
  }
  &::-webkit-input-placeholder { 
    color: $color; 
  }
}

@mixin abs-center-horizontal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin abs-center-vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}