.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    display: block;
    
    & > a {
      display: block;
      padding: 8px 12px;
      transition: color 300ms, background-color 300ms;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Popup
// --------------------------

.reveal-popup.menu {

  .nav-list {
    & > li {
      & > a {
        color: $gray7;
        text-align: center;
        border-bottom: 1px solid $gray9;

        &:hover {
          color: #fff;
        }
      }

      &:last-of-type {
        a {
          border-bottom: none;
        }
      }
    }
  }
}