.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    display: block;
    
    & > a {
      display: block;
      padding: 8px 12px;
      transition: color 300ms, background-color 300ms;

      &:hover {
        text-decoration: none;
      }
    }
  }
}