// Popup Styles
// --------------------------

/*

  @include popup(
    $width, 
    $padding, 
    $background-color, 
    $border-width, 
    $border-color, 
    $border-radius, 
    $arrow-size, 
    $arrow-offset
  );

*/

$popup-menu-width: 160px;
$popup-menu-padding: 0px;
$popup-menu-background-color: $gray10;
$popup-menu-border-width: 1px;
$popup-menu-border-color: $gray10;
$popup-menu-border-radius: 5px;
$popup-menu-arrow-size: 10px;
$popup-menu-arrow-offset: 10px;

.popup-menu { 
  @include popup(
    $popup-menu-width, 
    $popup-menu-padding, 
    $popup-menu-background-color, 
    $popup-menu-border-width, 
    $popup-menu-border-color, 
    $popup-menu-border-radius,
    $popup-menu-arrow-size,
    $popup-menu-arrow-offset
  );

  .nav-list {
    & > li {
      & > a {
        color: $gray7;
        text-align: center;
        border-bottom: 1px solid $gray9;

        &:hover {
          color: #fff;
        }
      }

      &:last-of-type {
        a {
          border-bottom: none;
        }
      }
    }
  }
}

$popup-tooltip-width: 220px;
$popup-tooltip-padding: 10px;
$popup-tooltip-background-color: #fff;
$popup-tooltip-border-width: 1px;
$popup-tooltip-border-color: $gray6;
$popup-tooltip-border-radius: 5px;
$popup-tooltip-arrow-size: 10px;
$popup-tooltip-arrow-offset: 10px;

.popup-tooltip { 
  @include popup(
    $popup-tooltip-width,
    $popup-tooltip-padding,
    $popup-tooltip-background-color,
    $popup-tooltip-border-width,
    $popup-tooltip-border-color,
    $popup-tooltip-border-radius,
    $popup-tooltip-arrow-size,
    $popup-tooltip-arrow-offset
  );

  font-size: 12px;

  p:last-of-type {
    margin-bottom: 0;
  }
}