.reveal-panel,
.reveal-dropdown {
  position: relative;

  & > .reveal-toggle {
    @extend .btn;
    @extend .btn-lrg;
    @extend .btn-block;
    @extend .btn-icon;

    /* fixes flicker in Safari */
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    & > .icon {
      -webkit-transition: -webkit-transform 300ms;
      transition: transform 300ms;
    }
  }

  & > .reveal-content {
    height: 0;
    overflow: hidden;
    transition: height 300ms;
  }

  &.open {
    & > .reveal-toggle {
      & > .icon {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
}


// Panel
// --------------------------

.reveal-panel {
  border-bottom: 2px solid $gray4;

  & > .reveal-toggle {
    @extend .btn-default;
    padding-left: 0;
    padding-right: 0;
    color: $gray6;
    font-weight: 600;
    border: none;
    transition: color 300ms;

    &:hover,
    &:active {
      background: none;
    }
  }

  &.open {
     & > .reveal-toggle {
      &.btn {
        color: $gray10;
      }
    }
  }
}


// Dropdown
// --------------------------

.reveal-dropdown {

  & > .reveal-toggle {
    @extend .btn-primary;
    transition: 300ms border-radius;
  }

  & > .reveal-content {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
  }

  &.open {
    .reveal-toggle {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}


// Popup
// --------------------------

.reveal-popup {
  position: absolute;

  & > .reveal-toggle {
    @extend .btn;
    @extend .btn-default;
  }
  
  & > .reveal-content {
    position: absolute;
    height: auto;
    overflow: visible;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms, z-index 0s 300ms;
  }

  &.open {
    & > .reveal-content {
      z-index: 999;
      opacity: 1;
      transition: opacity 300ms;
    }
  }
}