// Reveal
// --------------------------
.reveal {
  position: relative;

  .reveal-content {
    height: 0;
    overflow: hidden;
    transition: height 300ms;
  }

  .reveal-content-wrap {
    @include clearfix;
  }
}

// Reveal (open)
// --------------------------
.reveal.open .reveal-content {
  height: auto;
}

// Dropdown
// --------------------------
.reveal-dropdown {

  .reveal-content {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
  }

  .reveal-content-wrap {
    height: 200px; // will get calculated
    background: $gray9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

// Dropdown (open)
// --------------------------
.reveal-dropdown.open {

}

// Popup
// --------------------------
$popup-arrow-size: 12px;
$popup-arrow-offset: 12px;

.reveal-popup {
  
  .reveal-content {
    width: 200px;
    height: auto;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms, z-index 0s 300ms;
  }

  .reveal-content-wrap {
    border-radius: 10px;
  }

  // Arrow
  .arrow {
    position: absolute;
  }

  .arrow-bottom { 
    padding-top: 12px; 
    .arrow  {
      top: 0;
      @include arrow(up, $popup-arrow-size, $gray9);
    }
  }
  .arrow-top { 
    padding-bottom: $popup-arrow-size; 
    .arrow  {
      bottom: 0;
      @include arrow(down, $popup-arrow-size, $gray9);
    }
  }
  .arrow-left { 
    padding-right: $popup-arrow-size; 
    .arrow  {
      right: 0;
      @include arrow(right, $popup-arrow-size, $gray9);
    }
  }
  .arrow-right { 
    padding-left: $popup-arrow-size; 
    .arrow  {
      left: 0;
      @include arrow(left, $popup-arrow-size, $gray9);
    }
  }

  .arrow-bottom,
  .arrow-top {
    &.center {
      .arrow {
        @include abs-center-horizontal;
      }
    }
    &.left {
      .arrow {
        left: $popup-arrow-offset;
      }
    }
    &.right {
      .arrow {
        right: $popup-arrow-offset;
      }
    }
  }

  .arrow-left,
  .arrow-right {
    &.center {
      .arrow {
        @include abs-center-vertical;
      }
    }
    &.top {
      .arrow {
        top: $popup-arrow-offset;
      }
    }
    &.bottom {
      .arrow {
        bottom: $popup-arrow-offset;
      }
    }
  }
}

// Popup (open)
// --------------------------
.reveal-popup.open {

  .reveal-content {
    z-index: 999;
    opacity: 1;
    transition: opacity 300ms;
  }
}