<div class="examples">

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h2 class="section-heading">Panels</h2>
        <p>Welcome to the <strong>panels</strong> section.</p>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Panels --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Panels</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        {{#view App.PanelView}}
          <div class="radio-inline">
            <input id="gender-male" type="radio" name="gender">
            <label for="gender-male">Male</label>
          </div>
          <div class="radio-inline">
            <input id="gender-female" type="radio" name="gender">
            <label for="gender-female">Female</label>
          </div>
          <div class="radio-inline">
            <input id="gender-male" type="radio" name="gender">
            <label for="gender-male">Male</label>
          </div>
          <div class="radio-inline">
            <input id="gender-female" type="radio" name="gender">
            <label for="gender-female">Female</label>
          </div>
          <div class="radio-inline">
            <input id="gender-male" type="radio" name="gender">
            <label for="gender-male">Male</label>
          </div>
          <div class="radio-inline">
            <input id="gender-female" type="radio" name="gender">
            <label for="gender-female">Female</label>
          </div>
        {{/view}}

      </div>
      <div class="example-code">
        
      </div>
    </div>
  </div><!-- /.example -->

</div>