<div class="examples">

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h2 class="section-heading">Popups</h2>
        <p>Welcome to the <strong>popups</strong> section.</p>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Popups --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Popups</h3>
        
          <div id="popup-example">

            {{#view App.PopupView class="primary" position="bottom-center" text="Click Me You Bastard!"}}yolo.{{/view}}

          </div>

        </div>
      </div>
      <div class="example-code">
        
      </div>
    </div>
  </div><!-- /.example -->

</div>