<div class="examples">

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h2 class="section-heading">Popups</h2>
        <p>Welcome to the <strong>popups</strong> section.</p>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Popups --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Popups</h3>

          <div class="sandbox">
            {{#view App.PopupView id="example-1" class="default-menu settings" popupAlign="right" arrowAlign="top" text="" offset=4 toggleClasses="glyphicon-settings btn-glyphicon glyphicon-sml" style="top:50px;left:50px;"}}
              <ul class="nav-list">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Archive</a></li>
              </ul>
            {{/view}}

            {{#view App.PopupView id="example-2" class="default-menu settings" popupAlign="right" arrowAlign="top" text="" offset=4 toggleClasses="glyphicon-info btn-glyphicon glyphicon-sml" style="top:50px;left:200px;"}}
              <ul class="nav-list">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Archive</a></li>
              </ul>
            {{/view}}
          </div>

        </div>
      </div>
      <div class="example-code">
        
      </div>
    </div>
  </div><!-- /.example -->

</div>