<aside class="app-sidebar">
  <header>
    <h1>Nob.css</h1>
  </header>
  <nav class="app-menu">
    <ul>
      <li>{{#link-to 'type'}}Type{{/link-to}}</li>
      <li>{{#link-to 'buttons'}}Buttons{{/link-to}}</li>
      <li>{{#link-to 'reveals'}}Reveals{{/link-to}}</li>
    </ul>
  </nav>
  <footer>

  </footer>
</aside>