<aside class="app-sidebar">
  <nav class="app-menu">
    <ul class="nav-list">
      <li>{{#link-to 'type'}}Typography{{/link-to}}</li>
      <li>{{#link-to 'buttons'}}Buttons{{/link-to}}</li>
      <li>{{#link-to 'reveals'}}Reveals{{/link-to}}</li>
    </ul>
  </nav>
</aside>