<aside class="app-sidebar">
  <nav class="app-menu">
    <ul class="nav-list">
      <li>{{#link-to 'type'}}Typography{{/link-to}}</li>
      <li>{{#link-to 'buttons'}}Buttons{{/link-to}}</li>
      <li>{{#link-to 'forms'}}Forms{{/link-to}}</li>
      <li>{{#link-to 'icons'}}Icons{{/link-to}}</li>
      <li>{{#link-to 'reveals'}}Reveals{{/link-to}}
        <ul>
          <li>{{#link-to 'reveals.panels'}}Panels{{/link-to}}</li>
          <li>{{#link-to 'reveals.dropdowns'}}Dropdowns{{/link-to}}</li>
          <li>{{#link-to 'reveals.popups'}}Popups{{/link-to}}</li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>