{{partial "navigation"}}

<div class="app-main">
  <div class="app-main-wrap">

    <!--<div class="app-topbar">
      
    </div>-->

    <div class="app-content">
      <div class="app-content-wrap">

        {{outlet}}

      </div><!-- /.app-content-wrap -->
    </div><!-- /.app-content -->

  </div><!-- /.app-main-wrap -->
</div><!-- /.app-main -->