<div class="app-wrap">
  <h1>Ember CSS Framework</h1>
  <ul>
    <li>{{#link-to 'type'}}Type{{/link-to}}</li>
    <li>{{#link-to 'buttons'}}Buttons{{/link-to}}</li>
    <li>{{#link-to 'reveals'}}Reveals{{/link-to}}</li>
  </ul>
  {{outlet}}
</div>