<div class="app-topbar">
  {{#link-to 'index' class="logo-link"}}<img src="images/carnival-logo.png" alt="Carnival Mobile">{{/link-to}}
</div>

<div class="app-main">
  <div class="app-main-wrap">

    {{partial "navigation"}}

    <div class="app-content">
      <div class="app-content-wrap">

        {{outlet}}

      </div><!-- /.app-content-wrap -->
    </div><!-- /.app-content -->

  </div><!-- /.app-main-wrap -->
</div><!-- /.app-main -->