<div class="examples">

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h2 class="section-heading">Buttons</h2>
        <p>Welcome to the <strong>buttons</strong> section.</p>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Button styles --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Options</h3>
        <p>You can create a simple button by applying the <code>.btn</code> class to a <code>&lt;button&gt;</code> element. Adding <strong>one</strong> of the five additional classes will give it extra style.</p>
        <button class="btn btn-default">Default</button><br><br>
        <button class="btn btn-primary">Primary</button><br><br>
        <button class="btn btn-secondary">Secondary</button><br><br>
        <button class="btn btn-tertiary">Tertiary</button><br><br>
        <button class="btn btn-destruct">Destruct</button>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Button options --&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/button&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary"</span><span class="nt">&gt;</span>Secondary<span class="nt">&lt;/button&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-tertiary"</span><span class="nt">&gt;</span>Tertiary<span class="nt">&lt;/button&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-destruct"</span><span class="nt">&gt;</span>Destruct<span class="nt">&lt;/button&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Disabled</h3>
        <p>Set the <code>disabled</code> attibute to prevent button events from occuring.</p>
        <button class="btn btn-primary" disabled="disabled">Primary</button>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Disabled button --&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Icon</h3>
        <p>Add an <strong>icon</strong> to a button by applying the <code>.btn-icon</code> class and appending a <code>&lt;span&gt;</code> element with an <code>.icon</code> class. This works best using an icon font.</p>
        <button class="btn btn-primary btn-icon"><span class="text">Primary</span><span class="icon">&blacktriangledown;</span></button>
        <button class="btn btn-tertiary btn-icon"><span class="text">Add</span><span class="icon">+</span></button>
        <button class="btn btn-destruct btn-icon"><span class="text">Remove</span><span class="icon">-</span></button>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Button with an icon--&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Icon and subtext</h3>
        <p>Add an icon and subtext to a button by applying the <code>.btn-icon</code> class and appending a <code>&lt;span&gt;</code> element with a <code>.subtext</code> class.</p>
        <button class="btn btn-primary btn-icon"><span class="text">Users</span><span class="icon">&blacktriangledown;</span><span class="subtext">(544)</span></button>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Button with an icon and subtext --&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Upsize</h3>
        <p>Add the <code>.btn-lrg</code> class to enlarge a button.</p>
        <button class="btn btn-primary btn-lrg">Primary</button>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Larger button --&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Downsize</h3>
        <p>Add the <code>.btn-sml</code> class to shrink a button.</p>
        <button class="btn btn-primary btn-sml">Primary</button>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Smaller button --&gt;</span></pre>
        <pre class="codehilite"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

</div><!-- /#examples -->