<h2 class="page-header">Buttons</h2>

<h3>Default State</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris.</p>

<div class="example">
  <button class="btn-default">Default</button>
  <button class="btn-primary">Primary</button>
  <button class="btn-secondary">Secondary</button>
  <button class="btn-tertiary">Tertiary</button>
  <button class="btn-destruct">Destory</button>
</div>

<h3>Disabled</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation.</p>

<div class="example">
  <button class="btn-default" disabled="disabled">Default</button>
  <button class="btn-primary" disabled="disabled">Primary</button>
  <button class="btn-secondary" disabled="disabled">Secondary</button>
  <button class="btn-tertiary" disabled="disabled">Tertiary</button>
  <button class="btn-destruct" disabled="disabled">Destory</button>
</div>

<h3>With Icons</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation.</p>

<div class="example">
  <button class="btn-default btn-icon">Default<span class="icon">&blacktriangledown;</span></button>
  <button class="btn-primary btn-icon">Primary<span class="icon">&blacktriangledown;</span></button>
  <button class="btn-secondary btn-icon">Secondary<span class="icon">&blacktriangledown;</span></button>
  <button class="btn-tertiary btn-icon">Add<span class="icon">+</span></button>
  <button class="btn-destruct btn-icon">Remove<span class="icon">-</span></button>
</div>

<h3>With Subtext</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation.</p>

<div class="example">
  <button class="btn-default btn-icon">Default<span class="subtext">1647 Users</span></button>
  <button class="btn-primary btn-icon">Users<span class="subtext">(544)</span></button>
  <button class="btn-secondary btn-icon">Audiences<span class="subtext">(4,567)</span></button>
  <button class="btn-tertiary btn-icon">Add<span class="subtext">5,930 Users</span></button>
  <button class="btn-destruct btn-icon">Remove<span class="subtext">65,948 Users</span></button>
</div>

<h3>With Icons and Subtext</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation.</p>

<div class="example">
  <button class="btn-default btn-icon">Default<span class="subtext">(1647)</span><span class="icon">&blacktriangledown;</span></button>
  <button class="btn-primary btn-icon">Users<span class="subtext">(544)</span><span class="icon">&blacktriangledown;</span></button>
  <button class="btn-secondary btn-icon">Audiences<span class="subtext">(4,567)</span><span class="icon">&blacktriangledown;</span></button>
  <button class="btn-tertiary btn-icon">Add<span class="subtext">(5,930)</span><span class="icon">+</span></button>
  <button class="btn-destruct btn-icon">Remove<span class="subtext">(65,948)</span><span class="icon">-</span></button>
</div>

<h3>Upsize</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation.</p>

<div class="example">
  <button class="btn-default btn-lrg">Default</button>
  <button class="btn-primary btn-lrg">Primary</button>
  <button class="btn-secondary btn-lrg">Secondary</button>
  <button class="btn-tertiary btn-lrg">Tertiary</button>
  <button class="btn-destruct btn-lrg">Destory</button>
</div>

<h3>Downsize</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation.</p>

<div class="example">
  <button class="btn-default btn-sml">Default</button>
  <button class="btn-primary btn-sml">Primary</button>
  <button class="btn-secondary btn-sml">Secondary</button>
  <button class="btn-tertiary btn-sml">Tertiary</button>
  <button class="btn-destruct btn-sml">Destory</button>
</div>