<h2>Buttons</h2>

<h3 class="page-header">Default State</h3>

<button class="btn-default">Default</button>
<button class="btn-primary">Primary</button>
<button class="btn-secondary">Secondary</button>
<button class="btn-tertiary">Tertiary</button>
<button class="btn-destruct">Destory</button>

<h3 class="page-header">Disabled</h3>

<button class="btn-default" disabled="disabled">Default</button>
<button class="btn-primary" disabled="disabled">Primary</button>
<button class="btn-secondary" disabled="disabled">Secondary</button>
<button class="btn-tertiary" disabled="disabled">Tertiary</button>
<button class="btn-destruct" disabled="disabled">Destory</button>

<h3 class="page-header">With Icons</h3>

<p>Add the the class "btn-icon" and a span with a class of "icon".</p>

<button class="btn-default btn-icon">Default<span class="icon">&blacktriangledown;</span></button>
<button class="btn-primary btn-icon">Primary<span class="icon">&blacktriangledown;</span></button>
<button class="btn-secondary btn-icon">Secondary<span class="icon">&blacktriangledown;</span></button>
<button class="btn-tertiary btn-icon">Add<span class="icon">+</span></button>
<button class="btn-destruct btn-icon">Remove<span class="icon">-</span></button>

<h3 class="page-header">With Subtext</h3>

<button class="btn-default btn-icon">Default<span class="subtext">1647 Users</span></button>
<button class="btn-primary btn-icon">Users<span class="subtext">(544)</span></button>
<button class="btn-secondary btn-icon">Audiences<span class="subtext">(4,567)</span></button>
<button class="btn-tertiary btn-icon">Add<span class="subtext">5,930 Users</span></button>
<button class="btn-destruct btn-icon">Remove<span class="subtext">65,948 Users</span></button>

<h3 class="page-header">With Icons and Subtext</h3>

<button class="btn-default btn-icon">Default<span class="icon">&blacktriangledown;</span><span class="subtext">(1647)</span></button>
<button class="btn-primary btn-icon">Users<span class="icon">&blacktriangledown;</span><span class="subtext">(544)</span></button>
<button class="btn-secondary btn-icon">Audiences<span class="icon">&blacktriangledown;</span><span class="subtext">(4,567)</span></button>
<button class="btn-tertiary btn-icon">Add<span class="icon">+</span><span class="subtext">(5,930)</span></button>
<button class="btn-destruct btn-icon">Remove<span class="icon">-</span><span class="subtext">(65,948)</span></button>

<h3 class="page-header">Upsize</h3>

<button class="btn-default btn-lrg">Default</button>
<button class="btn-primary btn-lrg">Primary</button>
<button class="btn-secondary btn-lrg">Secondary</button>
<button class="btn-tertiary btn-lrg">Tertiary</button>
<button class="btn-destruct btn-lrg">Destory</button>

<h3 class="page-header">Downsize</h3>

<button class="btn-default btn-sml">Default</button>
<button class="btn-primary btn-sml">Primary</button>
<button class="btn-secondary btn-sml">Secondary</button>
<button class="btn-tertiary btn-sml">Tertiary</button>
<button class="btn-destruct btn-sml">Destory</button>