<div class="examples">

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h2 class="section-heading">Icons</h2>
        <p>Welcome to the <strong>icons</strong> section.</p>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Icons --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        
        <span class="glyphicon-settings"></span>

      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Headings --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

</div>