<div class="examples">

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h2 class="section-heading">Popups</h2>
        <p>Welcome to the <strong>popups</strong> section.</p>
      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Popups --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

  <div class="example">
    <div class="example-section">
      <div class="example-description">
        <h3 class="h4">Popup styles</h3>
        
        <div class="popup arrow-top center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup arrow-bottom center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup arrow-left center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup arrow-right center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup popup-menu arrow-top center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup popup-menu arrow-bottom center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup popup-menu arrow-left center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="popup popup-menu arrow-right center" style="position: relative;">
          <div class="arrow"></div>
          <div class="wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

      </div>
      <div class="example-code">
        <pre class="codehilite"><span class="c">&lt;!-- Popups --&gt;</span></pre>
      </div>
    </div>
  </div><!-- /.example -->

</div>