<h2>Type</h2>

<h3>Headings</h3>

<h1>Heading One</h1>
<h2>Heading Two</h2>
<h3>Heading Three</h3>
<h4>Heading Four</h4>
<h5>Heading Five</h5>
<h6>Heading Six</h6>

<h3>Paragraphs</h3>

<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. Deleniti, corporis, <em>dolore maxime repudiandae</em> illo veritatis consequatur sint veniam. Totam, tenetur voluptates iure dolorum quasi eligendi ipsa impedit obcaecati adipisci illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, reprehenderit facere quae laboriosam praesentium culpa officiis. Facilis, ullam sed consectetur deleniti consequuntur officia officiis odit perferendis quis ea! Eligendi, inventore!</p>

